.#{$prefix}-navigation{
    .#{$prefix}-search-field-section{
        background:$color_dark_gray;
        padding: 30px 0;
        display: none;
        @include media(xs){
            padding: 30px;
        }
    }
}