$widget-padding: 15px;
$widget-child-font-size: 0.9rem;

@import 'author-widget';
@import 'calendar';
@import 'menu';
@import 'recent-widget';
@import 'search';
@import 'social-icon';
@import 'tab-widget';
@import 'tag';
@import 'widget';
.widget{
    .gallery{
        figcaption{
            display: none;
        }
    }
    select{
        padding: 10px;
    }
    .tagcloud{
        a{
            font-size: 14px !important;
        }
    }
}