.tagcloud{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
    a{
        display: inline-block;
        background-color: rgba($color_dark_gray,0.27);
        padding: 1px 10px 2px;
        text-transform: capitalize;
        font-weight: $font_semi_bold;
        border-radius: 5px;
        margin: 5px 5px 0;
    }
}