.#{$prefix}-banner-main-section{
    padding-bottom: 30px;
    .#{$prefix}-title{
        margin-top: 30px;
        margin-bottom: 0;
    }
    .#{$prefix}-post-list,
    .#{$prefix}-recent-post-list,
    .#{$prefix}-banner-article-slider{
        margin-top: 30px;
    }
    
}