$menu_icon_height : 4px;
$menu_icon_width: 30px;
.#{$prefix}-menu-icon{
    position: relative;
    height: 20px;
    width: $menu_icon_width;
    border-radius: 5px;
    cursor: pointer;
    @include transition;
    &:before{
        position: absolute;
        display: block;
        content: "";
        background-color: $color_black;
        height: $menu_icon_height;
        width: 100%;
        border-radius: 5px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    span{
        &:before,
        &:after{
            position: absolute;
            display: block;
            content: "";
            background-color: $color_black;
            height: $menu_icon_height;
            width: 100%;
            border-radius: 5px;
            left: 0;
        }
        &:before{
            top: 1px;
    
        }
        &:after{
            bottom: 1px;
        }
    }

}