@import 'layout';
@import 'author';
.page-header{
    .archive-description{
        font-style: italic;
        font-family: $secondary_font;
        p{
            margin-top: 20px;
            margin-bottom: 0;
        }
    }
    .page-title{
        margin-top: 30px;
        margin-bottom: 0;
        line-height: 1;
        padding-top: 15px;
    }
}